<style>
body {
  font-family: "Roboto Slab";
  font-size: 18px;
}


</style>



<div
  class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center background-image background-image-common"
>
  <div class="col-md-5 p-lg-5 mx-auto my-5">
    <h1 class="display-4 font-weight-normal" style="color: black">Des Gâteaux et du Pain</h1>
    <p class="lead font-weight-normal" style="color: black">
      For the last year we have have been located in deliciousness ville and growing across creams and fillings.
      A bakery concept created for the ultimate experience by chef de patisserie <b>Marine lepain</b> a <b>James Beard award </b>recipient.
      studied under world reknown chef <b>François Payard</b>.
    </p>
  </div>
  <div class="product-device shadow-sm d-none d-md-block"></div>
  <div
    class="product-device product-device-2 shadow-sm d-none d-md-block"
  ></div>
</div>
<br>

<div
  class="d-md-flex text-right flex-md-equal m-md-3 background-image-cookies background-image-common background-image-height"
>
  <div class="pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="mb-5">
      
    </div>
  </div>
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
    <div class="">
      <h2 class="display-5">Cookie SPECIALS</h2>
      <p class="lead">
        All-new Chocolates chip, Chocolate Candy Cane Cake,
      </p>
    </div>
  </div>
  <a href="/cookies">View More</a>
</div>

<div
  class="d-md-flex text-right flex-md-equal m-md-3 background-image-cupcakes background-image-common background-image-height"
>
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
    <div class="text-left">
      <h2 class="display-5">Cakes Galore</h2>
      <p class="lead">
        All-new Hot double Chocolate cake, Festive
        Frosted Sugar & Gingerbread,
      </p>
    </div>
  </div>
  <div class="pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="mb-5">

    </div>
  </div>
  <a href="/cakes">View More</a>
</div>

<div
  class="d-md-flex text-right flex-md-equal m-md-3 background-image-muffins background-image-common background-image-height"
>
  <div class="pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="mb-5">

    </div>
  </div>
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
    <div class="">
      <h2 class="display-5">Muffins SPECIALS</h2>
      <p class="lead">
        3 for $5 this week only between 4pm and 5:30pm
      </p>
    </div>
  </div>
  <a href="/muffins">View More</a>
</div>

<div
  class="d-md-flex text-right flex-md-equal m-md-3 background-image-tea background-image-common background-image-height"
>
  <div class="pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="mb-5">

    </div>
  </div>
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
    <div class="">
      <h2 class="display-5">Tea collection</h2>
      <p class="lead">
        Sample of the deliciousness biggest tea collection.
      </p>
    </div>
  </div>
  <a href="/tea">View More</a>
</div>

<div
  class="d-md-flex text-right flex-md-equal m-md-3 background-image-bread background-image-common background-image-height"
>
  <div class="pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="mb-5">

    </div>
  </div>
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
    <div class="">
      <h2 class="display-5">Breads baked fresh daily</h2>
      <p class="lead">
        Baguettes, Ciabatta, Sourdough and Rye
      </p>
    </div>
  </div>
  <a href="/bread">View More</a>
</div>

<div
  class="d-md-flex text-right flex-md-equal m-md-3 background-image-catering background-image-common background-image-height"
>
  <div class="pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="mb-5">

    </div>
  </div>
  <div class="mr-md-3 pt-3 px-3 pt-md-5 px-md-5 overflow-hidden">
    <div class="text-shadow">
      <h2 class="display-5">Catering available</h2>
      <p class="lead">
        please don't hesitate to visit our catering page.
      </p>
    </div>
  </div>
  <a href="/catering">View More</a>
</div>
  </div>
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</div>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
