<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Des Gâteaux et du Pain</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <%= erb :headers %>
  <div class="container">
      <%= yield %>

      <div></div><br>
      <footer class="footer"><div></div><br>

  <div><b>Des Gâteaux et du Pain</b></div>
  <div>34 park st</div>
  <div>deliciousness ville</div>
  <div>Ph: 555-555-5555</div>
  <div>Monday - Friday 7 AM to 10 PM</div>


  <div class="wrapper">
     <a href="https://wwww.google.com" target="_blank"><i class="fa fa-3x fa-google-plus"></i></a>
     <a href="https://wwww.facebook.com" target="_blank"><i class="fa fa-3x fa-facebook-square"></i></a>
     <a href="https://wwww.twitter.com" target="_blank"><i class="fa fa-3x fa-twitter-square"></i></a>
  </div>

</footer>
  </div>

</body>
</html>
