<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style media="screen">
      body{


        font-family: serif;
      }
      table, tr, td{
        background-image: url("https://images.unsplash.com/photo-1490914327627-9fe8d52f4d90?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"), rgba(0, 0, 0, 0.5);
        background-repeat: no-repeat;
        font-size: 15px;
      }
      .center{
        text-align: center;

      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <p>Thank you for requesting our Catalog, below you will see a list of products with price. For high resolution photos see our website.</p>
          <ul>
               <li><h3>Cookies</h3></li>
               <li>Chocolate Chip $2</li>
               <li>Linzer Tart $3</li>
               <li>Macaron $4</li>
               <li>Chocolate Macaroon $4 </li>
               <li>Ginger Star $2 </li>
               <li>Lemon Curd $3 </li>
               <li>Peanut Butter $3</li>
               <li>Double Chocolate $3</li>
           </ul>
           <ul>
               <li><h3>Muffins</h3></li>
               <li>Cherry $3</li>
               <li>Corn $3</li>
               <li>Blueberry $2</li>
               <li>Red Currant Muffin $4</li>
               <li>Lemon Poppy Muffin $3</li>
               <li>Blackberry Muffin $4</li>
           </ul>
           <ul>
               <li><h3>Cakes</h3></li>
               <li>Pretzel $3</li>
               <li>Peanut Butter Swirl $3</li>
               <li>Fruit Tart $3</li>
               <li>Strawberry Short Cake $3</li>
               <li>Cherry Chocolate Chip $3</li>
               <li>Caipirinha $3</li>
          </ul>
          <ul>
               <li><h3>Bread</h3></li>
               <li>Sourdough $5</li>
               <li>Poppy Chalka $7</li>
               <li>Fresh Rolls $1</li>
           </ul>
           <ul>
               <li><h3>Tea</h3></li>
               <li>Green Tea $1</li>
               <li>Herbal Tea $1</li>
               <li>Black Tea $2</li>
           </ul>
        </td>
      </tr>
    </table>
    <p class="center"><h2>Des Gâteaux et du Pain</h2></p>
  </body>
</html>
